<!doctype html>
<html style="background-color: BurlyWood;">
<head>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
  <title>Flask Server</title>
</head>
<body>
  <div>
        <div class="logo">
          <img  src="static/logo.jpg">
          <nav>
            <ul>
              <li class="deroulant" id="connect"><p>Menu</p>
                <ul class="sous">
                  <li><a href="https://jmerdinger.alwaysdata.net/consultation">Consultation</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/enregistrer_client">Enregistrer client</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/consultation_livre">Consultation livre</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/enregistrer_livre">Enregistrer livre</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/consultation_emprunts">Consultation emprunt</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/enregistrer_emprunt">Enregistrer emprunt</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/retour">Retour emprunt</a></li>
                </ul>
              </li>
              <li class="deroulant" id="connect"><p>Connexion</p>
                <ul class="sous">
                  <li><a href="https://jmerdinger.alwaysdata.net/authentification">Authentification</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/deconnexion">Déconnexion</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>


{% extends "layout.html" %}
{% block content %}
<div class="container bottomForm">
    <h2 class="text-center">Fiche Livre</h2>
    <div class="row">
        <div class="col-sm-3"></div>
        <form method="POST" class="text-left col-sm-6">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.nom.label }} {{ form.nom(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.auteur.label }} {{ form.auteur(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock content %}
