<!DOCTYPE>
<html style="background-color: BurlyWood;">
<head>
    <meta charset="UTF-8">
    <title>Livres</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div>
        <div class="logo">
          <img  src="static/logo.jpg">
          <nav>
            <ul>
              <li class="deroulant" id="connect"><p>Menu</p>
                <ul class="sous">
                  <li><a href="https://jmerdinger.alwaysdata.net/consultation">Consultation</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/enregistrer_client">Enregistrer client</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/consultation_livre">Consultation livre</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/enregistrer_livre">Enregistrer livre</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/consultation_emprunts">Consultation emprunt</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/enregistrer_emprunt">Enregistrer emprunt</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/retour">Retour emprunt</a></li>
                </ul>
              </li>
              <li class="deroulant" id="connect"><p>Connexion</p>
                <ul class="sous">
                  <li><a href="https://jmerdinger.alwaysdata.net/authentification">Authentification</a></li>
                  <li><a href="https://jmerdinger.alwaysdata.net/deconnexion">Déconnexion</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    <h1>Liste des Livres</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Auteur</th>
            <th>Quantité</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
