<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retour d'un emprunt</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Retourner un emprunt</h1>
    <form action="./retour" method="POST">
        <label for="id">ID de l'emprunt :</label>
        <input type="text" id="id" name="id" required><br><br>
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
